@charset "UTF-8";

*{
	margin:0px;
}

#main_div{
	width: 1080px;
	height: 900px;
	margin: auto;
	
}

#top_div{
	width : 100%;
	height: 30%;
	background-color: blue;
}

#list_div{
	width : 20%;
	height : 50%;
	background : yellow;
	float: left;
}

#mid_div{
	width : 80%;
	height : 50%;
	background-color: green;
	float : left;
}

#bot_div{
	width : 100%;
	height: 20%;
	background-color: gray;
	clear: both;
}


#leftlist {
	list-style: none;
	margin: 0;
	padding: 0;
	margin : 0 0 0 0;
	padding: 0 0 0 0;
	border: 0;
	float: center;
}

ul>li {
	display: inline-block; 
	
}
	
